
.presentationContent .right{
    margin: 0px 80px 0 30%;
    color: white;
    text-align: right;
    display: flex;
}

.presentationContent .rightContent{
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 2.5s; 
    transition-property: transform, opacity;
    margin-right: 20px;
}

.presentationContent .left{
    padding-top: 70px;
    margin-left: 10%;
    transform: translateX(100px);
    opacity: 0;
    transition-duration: 2.5s;
    transition-property: transform, opacity;
}

.presentationContent .arguments{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 80px;
}

.presentationContent .leftContent{
    font-size: 3em;
    color: white
}

.presentationContent .rightContent p{
    font-size: 1.25em;
    margin-top: 20px;
}

.presentationContent .rightLine{
    transform: scaleY(0);
    width: 10px;
    background-color: #FC802D;
    transition-duration: 2.5s;
    transition-property: transform, width;
}

.leftContent .arguments div{
    display: flex;
}

.leftContent .arguments div .blink{
    width: 3px;
    background-color: #FC802D;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
}

/* animation */

.active .presentationContent .rightContent{
    transform: translateX(0px);
    opacity: 1;
}

.active .presentationContent .left{
    transform: translateX(0px);
    opacity: 1;
}

.active .presentationContent .rightLine{
    transform: scaleY(1);
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: #FC802D;
    }
}

@media (max-width: 800px) {
    .presentationContent .right{
        margin-right: 20px;
        margin-left: 100px;
    }
}

@media (max-width: 600px) {
    .presentationContent .leftContent{
        font-size: 2em;
    }

    .presentationContent .rightContent p{
        font-size: 1.25em;
    }

    .presentationContent .right{
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 420px) {
    /* lol 420 */

    .presentationContent .right{
        margin-top: 25%;
    }

    .presentationContent .left {
        margin-left: 20px;
        padding-top: 110px;
    }

    .presentationContent .arguments{
        margin-left: 50px;
    }

    .presentationContent .leftContent{
        font-size: 1.5em;
    }

    .presentationContent .rightContent p{
        font-size: 0.9em;
    }
}

@media (min-height: 850px) {
    .presentationContent .left {
        padding-top: 150px;
    }

    .presentationContent .right{
        margin-top: 100px;
    }
}

@media (max-height: 580px){
    .presentationContent .left {
        padding-top: 40px;
    }

    .presentationContent .rightContent p{
        font-size: 0.7em;
    }
}
