.presentationContent{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentationContent .right{
    flex-basis: 50%;
    color: white;
    text-align: right;
    margin-right: 60px;
    display: flex;
    margin-top: 275px;
}

.presentationContent .rightContent{
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 2.5s; 
    transition-property: transform, opacity;
    margin-right: 20px;
}

.presentationContent .left{
    flex-basis: 50%;
    margin-left: 125px;
    margin-top: -250px;
    transform: translateX(100px);
    opacity: 0;
    transition-duration: 2.5s;
    transition-property: transform, opacity;
}

.presentationContent .arguments{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 80px;
}

.presentationContent .leftContent{
    font-size: 3em;
    color: white
}

.presentationContent .rightContent p{
    margin-top: 40px;
}

.presentationContent .rightLine{
    transform: scaleY(0);
    width: 15px;
    background-color: #FC802D;
    transition-duration: 2.5s;
    transition-property: transform, width;
}

.leftContent .arguments div{
    display: flex;
}

.leftContent .arguments div .blink{
    width: 3px;
    background-color: #FC802D;
    margin-left: 10px;
    animation: blink 1s step-end infinite;
}

/* animation */

.active .presentationContent .rightContent{
    transform: translateX(0px);
    opacity: 1;
}

.active .presentationContent .left{
    transform: translateX(0px);
    opacity: 1;
}

.active .presentationContent .rightLine{
    transform: scaleY(1);
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: #FC802D;
    }
}

@media (max-width: 1300px) {
    .presentationContent .left{
        margin-top: -100px;
    }
}

@media (max-width: 1100px) {
    .presentationContent{
        flex-direction: column;
        margin-top: 0;
    }

    .presentationContent .left{
        flex-basis: auto;
        margin-top: 200px;
        margin-right: 200px;
        margin-left: 0;
    }

    .presentationContent .right{
        flex-basis: auto;
        margin-left: 200px;
        margin-bottom: 250px;
    }

    .presentationContent .rightContent p{
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    .presentationContent .left{
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 0;
    }

    .presentationContent .right{
        margin-top: 0;
        margin-bottom: 150px;
        margin-left: 50px;
    }
}

@media (max-width: 600px) {
    .presentationContent .left{
        margin-top: 40px;
    }

    .presentationContent .leftContent{
        font-size: 2em;
    }

    .presentationContent .arguments{
        margin-left: 60px;
    }

    .presentationContent .rightContent p{
        font-size: 1.25em;
    }

    .presentationContent .right{
        margin-top: 0;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 25px;
    }
}

@media (max-width: 420px) {
    /* lol 420 */
    
    .presentationContent .left{
        margin-right: 0;
        margin-top: 85px;
    }

    .presentationContent .leftContent{
        font-size: 1.5em;
    }

    .presentationContent .rightContent p{
        font-size: 1em;
    }

    .presentationContent .right{
        margin-bottom: 100px;
    }
}

@media (max-width: 340px) {
    /* for the 3 last Iphone5 users */
    .presentationContent .left{
        margin-top: 60px;
    }

    .presentationContent .leftContent{
        font-size: 1.25em;
    }

    .presentationContent .rightContent p{
        font-size: 0.75em;
    }

    .presentationContent .right{
        margin-bottom: 40px;
    }
    
}

