.home{
    background-size: cover;
    background-attachment: fixed;
}

header, .presentation, .skills {
    height: 100vh;
    /* scroll-snap-align: start; */
}

.section1{
    height: 100vh;
    background-color: aqua;
}

.section2{
    height: 100vh;
    background-color: blue;
}

/* ::-webkit-scrollbar{
    display: none;
} */