.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.skills .mainSkillsFull{
    transform: translateX(-200px);
    opacity: 0;
    transition: 2s;
}

.skills .secondSkillsFull{
    transform: translateX(200px);
    opacity: 0;
    transition: 2s;
}

.skills .skillsContent{
    opacity: 0;
    transition: 2s;
}

.active .skillsContent{
    opacity: 1;
}

.skills h1{
    text-align: center;
    margin-bottom: 10px;
}

.skills .secondSkillsFull h1{
    margin-top: 40px;
}

.skills .mainSkills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
}

.skills .secondSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50vw;
}

.skills .logo{
    position: relative;
}

.skills .logo img {
    cursor: pointer;
    transition: 0.5s;
}

.skills .logo p {
    position: absolute;
    font-size: 1.25em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.skills .mainSkills, .skills .secondSkills{
    padding: 30px 0;
    border: 1px solid white;
    border-radius: 25px;
}

.secondSkills .logo{
    margin-top: 20px;
    flex-basis: 33%;
    text-align: center;
}

/* anim */

.active .mainSkillsFull{
    transform: translateX(0px);
    opacity: 1;
}

.active .secondSkillsFull{
    transform: translateX(0px);
    opacity: 1;
}