.navbar{
    background-color: rgba(0, 0, 0, 0.288);
    position: absolute;
    width: 100%;
    z-index: 2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 1s;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
}

.navbar nav{
    padding: 40px 0;
}

.navbar ul a{
    list-style-type: none;
    text-decoration: none;
}

.navbar ul li{
    color: white;
    font-size: 1.5em;
}

.navbar ul a:last-child{
    margin-right: 80px;
}

.underline{
    height: 2px;
    width: 0px;
    margin-top: 5px;
    background-color: #FC802D;
    transition: width 0.6s;
}

.burger{
    position: absolute;
    top: 60px;
    right: 100px;
    display: flex;
    cursor: pointer;
}

.burger div{
    width: 5px;
    border-radius: 25px;
}

.burger div:first-child{
    transition: 0.5s;
}

.burger div:nth-child(2){
    margin: 0 13px;
    transition: 0.5s;
}

.burger div:last-child{
    transition: 0.5s
}