*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    height: 100vh;
}

p::selection{
    color: #FC802D;
}

a::selection{
    color: #FC802D;
}

h1::selection{
    color: #FC802D;
}

h2::selection{
    color: #FC802D;
}

h3::selection{
    color: #FC802D;
}

.main{
    background-size: cover;
    background-attachment: fixed;
}